<section id="about" class="py-5 bg-light">
    <div class="container fs-6">
        <h2 class="fw-bold">About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla nisi sit amet velit hendrerit, id
            suscipit ex bibendum. Duis vitae efficitur magna. Nullam rutrum turpis eu neque cursus vehicula.</p>
        <p>Phasellus nec ipsum quis nisi accumsan sodales. Suspendisse potenti. Nullam tincidunt tellus a nisi
            consequat, nec ullamcorper metus efficitur. Ut varius, sem non dapibus blandit, felis magna efficitur nunc,
            non dignissim eros quam a libero.</p>
    </div>
</section>