<section id="home" class="py-5">
    <div class="container d-flex align-items-center justify-content-center column-gap-sm-2 ">
        <div class="fs-6">
        <h2 class="fw-bold">Welcome to ToDo App</h2>
        <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla nisi sit amet velit hendrerit, id
            suscipit ex bibendum. Duis vitae efficitur magna. Nullam rutrum turpis eu neque cursus vehicula. Phasellus
            nec ipsum quis nisi accumsan sodales. Suspendisse potenti.</p>
        <p> 
            Nullam tincidunt tellus a nisi consequat, nec ullamcorper metus efficitur. Ut varius, sem non dapibus
            blandit, felis magna efficitur nunc, non dignissim eros quam a libero. Ut lacinia turpis quis erat lacinia,
            ut eleifend metus feugiat.
        </p>
        </div>

        <img class="w-50 h-50 " src="../../../assets/image/pexels-breakingpic-3243.jpg" alt="">

    </div>
</section>